@import url("boxicons.css");
@import url("../../css/common.css");

/* home page comman css  */
@font-face {
  font-family: 'Syncopate-Bold';
  src: url(../fonts/Syncopate-Bold.ttf);
}

/* scrollbar css settings*/
::-webkit-scrollbar {
  width: 6px;
  border: 1px solid var(--primary-color-1);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color-1);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-1);
  border-radius: 8px;
}
/* Firefox */
::-moz-scrollbar {
  width: 6px;
  border: 1px solid var(--primary-color-1);
  border-radius: 8px;
}
::-moz-scrollbar-track {
  border-radius: 8px;
}
::-moz-scrollbar-thumb {
  background: var(--primary-color-1);
  border-radius: 8px;
}
::-moz-scrollbar-thumb:hover {
  background: var(--secondary-color-1);
}

/* progress bar bottom to top  */
.progress-wrap {
  position: fixed;
  right: 40px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 0px;
  box-shadow: inset 0 0 0 2px var(--secondary-color-1);
  z-index: 999;
  visibility: hidden;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  bottom: 60px;
  clip-path: polygon(0% 0%,calc(100% - 10px) 0%,100% 10px,100% 100%,10px 100%,0% calc(100% - 10px));
  background: var(--secondary-color-1);
}
.progress-wrap:hover{
  background: transparent;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  content: "";
  background: url(../images/arrowTop-progres.svg) no-repeat;
  font-weight: 400;
  text-align: center;
  color: var(--white-color);
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  animation: heartbeat 2s infinite;
  background-position: center;
  background-size: 22px;
}
.progress-wrap:hover::after {
  opacity: 1;
}
.progress-wrap:hover::before {
  opacity: 1;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: var(--grey);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.Syncopate-Bold{
  font-family: 'Syncopate-Bold', sans-serif;
}

::selection {
  background-color: var(--white-color);
  color: var(--primary-color-1);
}

:root {
  --primary-color-1: #450036;
  --secondary-color-1:#E86AA7;
}

body{
  background: url(../images/body-tranparent.png), var(--primary-color-1);
}

.primary-color-1{
  color: var(--primary-color-1);
}
.primary-bgcolor-1{
  background: var(--primary-color-1);
}
.secondary-color-1{
  color: var(--secondary-color-1);
}
.secondaty-bgcolor-1{
  background: var(--secondary-color-1);
}

.fts-64{
  font-size: 64px;
}
.fts-48{
  font-size: 48px;
}
.fts-32{
  font-size: 32px;
}


/* navbar start  */
.desktop-logo .logo-here{
  width: 200px;
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}
.desktop-logo .logo-here:hover{
  transform: scale(0.9);
}
.desk-navlist-main>li>a{
  color: var(--white-color);
  font-size: 14px;
  font-family: 'Poppins-Medium', sans-serif;
  padding: 6px 13px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 40px;
  transition: all 0.4s ease;
}
.desk-navlist-main>li>a.active,
.desk-navlist-main>li>a:hover{
  color: var(--secondary-color-1);
}
.navdesktop-btns .nav-signin-btn{
  background: linear-gradient(269deg, rgb(255 255 255 / 4%) 0%, rgb(248 248 248 / 13%) 100%);
  display: inline-block;
  border-radius: 13px;
  padding: 2px;
}
.navdesktop-btns .nav-signin-btn span{
  padding: 13px 40px;
  color: var(--white-color);
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  border-radius: 12px;
  display: inline-block;
  transition: all 0.2s;
  background: transparent;
  backdrop-filter: blur(26px);
}
.navdesktop-btns .nav-login-btn{
  padding: 13px 40px;
  color: var(--white-color, #FFFFFF);
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  border: 1px solid var(--secondary-color-1);
  background: var(--secondary-color-1);
  border-radius: 12px;
  display: inline-block;
  transition: all 0.2s;
}
.desk-navlist-main .afterlogin-sidelog .user-img{
  height: 41px;
  width: 41px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}
.desk-navlist-main .dropdownstyle-lite{
  left: -36px;
  z-index: 99992;
  transition: all 0.4s;
  background: linear-gradient(#4a123b, #4A123B) padding-box, linear-gradient(to bottom, #ffffff2e, #ffffff00) border-box;
  border: 2px solid transparent;
  border-radius: 12px;
}
.dropdownstyle-lite li a{
  color: var(--white-color);
  font-size: 14px;
  font-family: 'Poppins-Regular', sans-serif;
  padding: 6px 16px;
  line-height: 24px;
}
.dropdownstyle-lite li a.active,
.dropdownstyle-lite li a:hover{
  background: var(--secondary-color-1);
  color: var(--white-color);
}
.desk-navlist-main .dropdown-toggle::after {
  content: "\ecad";
  font-family: boxicons, sans-serif !important;
  border: none;
  background-position: bottom;
  margin-left: 6px;
  background-size: 11px;
  position: relative;
  top: 1px;
  vertical-align: unset;
}
.mobile_userloginview .user-loginimg{
  border-radius: 100%;
  width: 124px;
  height: 124px;
  object-fit: cover;
}
.main-header_divs .navbar{
  position: relative;
  z-index: 2;
}
/* end  */

/* header section start  */
.find_btnprtys{
  background: var(--secondary-color-1);
  border: 1px solid var(--secondary-color-1);
  color: var(--white-color);
  padding: 15px 40px;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  font-family: 'Poppins-Medium', sans-serif;
  transition: all 0.4s;
}
.find_btnprtys:hover{
  background: transparent;
  color: var(--secondary-color-1);
}
.linetextfd{
  height: 1px;
  width: 100%;
  background: linear-gradient(269deg, rgb(255 255 255 / 0%) 0%, rgb(248 248 248) 100%);
}
.peoples_boxviewsslt {
  padding: 16px 10px 16px;
  cursor: pointer;
  background: linear-gradient(#4a123b, #4A123B) padding-box,
  linear-gradient(to bottom, #ffffff2e, #ffffff00) border-box;
  border: 2px solid transparent;
  border-radius: 15px;
}
.side-image-desk {
  background: linear-gradient(#4a123b, #4A123B) padding-box,
  linear-gradient(to bottom, #ffffff2e, #ffffff00) border-box;
  border-radius: 16px;
  border: 2px solid transparent;
}
.side-image-desk .sideimg{
  width: 100%;
  height: 314px;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
}
.side-image-desk .sideimgst{
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
}
.home1Headermaindiv{
  background: url(../images/shape-design.png) no-repeat 40% 77%, url(../images/shape-design.png) no-repeat -1% 100%, url(../images/shape-design1.png) no-repeat 100% 102%, transparent;
}
.peoples_boxviewsslt .desktop-logo .logo-here{
  width: 75%;
}

/* Search for your right partner Starts */
.custom-select-wrapper {
  position: relative;
  display: block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
  visibility: hidden;
  border: 0px;
}
.custom-select-trigger {
  position: relative;
  display: block;
  font-size: 14px;
  color: var(--white-color);
  line-height: 25px;
  cursor: pointer;
  font-family: 'Poppins-Regular', sans-serif;
  background: transparent;
  padding: 13px 16px;
  border-radius: 12px;
  border: 1px solid #7E5474;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  top: 49%;
  right: 16px;
  margin-top: 0px;
  border-bottom: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 57px;
  left: 0;
  right: 0;
  min-width: 100%;
  max-height: 153px;
  overflow: auto;
  overflow-x: hidden;
  margin: 0px 0;
  border: 1px solid #7E5474;
  box-sizing: border-box;
  background: 1px solid #7E5474;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  border-radius: 10px;
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
  z-index: 100;
}
.custom-options:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -3px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 17px;
  border-bottom: 1px solid #7E5474;
  font-size: 14px;
  color: var(--white-color);
  line-height: 37px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-family: 'Poppins-Regular', sans-serif;
}
.custom-option:first-of-type {
  border-radius: 0px 0px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 0px 0px;
}
.custom-option:hover,
.custom-option.selection {
  background: var(--secondary-color-1);
  color: var(--white-color);
}
.bor-rmd {
  border-radius: 0px 3px 3px 0px;
}
.agetolabel {
  margin: auto;
  margin-top: 16px;
  text-align: center;
}
.searchnow {
  display: flex;
  border: 0;
  border-radius: 11px;
  transition: 0.3s ease-in;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 130px;
  background: var(--secondary-color-1);
  margin-left: auto;
  transform: translate(-20px, 0px);
  outline: none;
  gap: 7px;
  color: var(--bs-white);
  font-size: 16px;
}
.custom-select-trigger_new:after {
  right: 20px;
}
.main-header-bottomset{
  margin-top: -35px;
}
/* end  */

 /* how does work section start  */
 .flex_iconboxds{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
 }
 .howsingleboxed{
  height: 140px;
  width: 140px;
  background: var(--primary-color-1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid var(--black-color);
 }

/* last added profile section start  */
.last_addedmain-div{
  padding: 56px 0px 10px 0px;
}
.LastProfileSlider {
  background: #d9d9d917;
  border-radius: 15px 0px 15px 15px;
  padding: 10px 20px 15px;
  border: 1px solid #d9d9d93b;
}
.last_poifle-single-dv{
  background: transparent;
  border-radius: 15px;
  padding: 30px 34px 6px;
}
.top_profiles-imag .lastimgprofile{
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
  transition: .4s;
}
.top_profiles-imag{
  border-radius: 20px;
}
.top_profiles-imag .lastimgprofile:hover{
  transform: scale(1.2);
}
.bottom_lastcontents .p2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.LastProfileSlider .slick-prev.slick-arrow{
  position: absolute;
  top: -73px;
  right: 86px;
  font-size: 0;
  border: none;
  background: #d9d9d917;
  z-index: 9;
  padding: 20px 5px 10px 36px;
  border-radius: 15px 0px 0px 0px;
  border-left: 1px solid #d9d9d93b;
  border-top: 1px solid #d9d9d93b;
}
.LastProfileSlider .slick-next.slick-arrow{
  position: absolute;
  top: -73px;
  right: 0;
  font-size: 0;
  border: none;
  background: #d9d9d917;
  z-index: 9;
  padding: 20px 40px 10px 4px;
  border-radius: 0px 15px 0px 0px;
  border-top: 1px solid #d9d9d93b;
  border-right: 1px solid #d9d9d93b;
}
.LastProfileSlider .slick-prev.slick-arrow::after {
  content: "";
  background: url(../images/Prev-Icon-profile.png) no-repeat;
  height: 41px;
  width: 41px;
  display: block;
  background-size: 41px;
}
.LastProfileSlider .slick-next.slick-arrow::after {
  content: "";
  background: url(../images/Next-Icon-profile.png) no-repeat;
  height: 41px;
  width: 41px;
  display: block;
  background-size: 41px;
}
.LastProfileSlider .single_lastProfiles {
  border-radius: 16px;
  background: linear-gradient(#5A234C, #5A234C) padding-box, linear-gradient(to bottom, #ffffff2e, #ffffff00) border-box;
  border: 1px solid transparent;
}
/* end  */

/* why choose start  */
.why_choosesmaindiv{
  background: url(../images/shape-design.png) no-repeat 96% 7%, url(../images/shape-design.png) no-repeat -1% 91%;
}
.why-iconbg{
  height: 102px;
  width: 102px;
  min-width: 102px;
  background: var(--secondary-color-1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-iconbg .whtimg{
  transition: all 0.4s;
}
.why-iconbg:hover .whtimg{
  transform: scale(0.9);
} 
.getstarted-btn-how {
  padding: 13px 49px;
  color: var(--white-color, #FFFFFF) !important;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 14px;
  border: 1px solid var(--secondary-color-1);
  background: var(--secondary-color-1);
  border-radius: 12px;
  display: inline-block;
  transition: all 0.2s;
}
/* end  */

/* success stories section start  */
.more_btnStoriesview{
  font-size: 14px;
  font-family: 'Poppins-Medium', sans-serif;
  color: var(--white-color);
  padding: 11px 28px;
  display: inline-block;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(#4a123b, #4A123B) padding-box,
  linear-gradient(to bottom, #ffffff2e, #ffffff00) border-box;
  border: 2px solid transparent;
}
.items_singles .str-img{
  width: 100%;
  height: 170px;
  border-radius: 16px;
  object-fit: cover;
}
.slider_storiesview .slick-track{
  margin-left: 0;
}
.centerstoriLine{
  height: 2px;
  background: #ffffff75;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  margin: auto;
}
.items_singles .cgap{
  height: 12px;
  width: 12px;
  background: var(--secondary-color-1);
  min-width: 12px;
  border-radius: 100%;
  margin: 28px auto;
}
.content_innerStoryDiv{
  min-height: 170px;
}
.morestory_rightview .morestory-text{
  font-size: 15px;
  font-family: 'Poppins-Medium', sans-serif;
  letter-spacing: 3px;
  position: relative;
  top: 5px;
  color: var(--secondary-color-1);
}
.moreStoriesMobile-btn{
  background: var(--primary-color-1);
  border: 1px solid var(--primary-color-1);
  color: var(--white-color);
  padding: 10px 32px;
  display: flex;
  border-radius: 40px;
  font-size: 14px;
  font-family: 'Poppins-Regular', sans-serif;
  transition: all 0.4s;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: max-content;
  margin: auto;
}

/* responsive app section start */
.whyappsiinnernai{
  border-radius: 15px;
  padding: 62px 55px 60px 60px;
  background: linear-gradient(#4a123b, #4A123B) padding-box, linear-gradient(to bottom, #ffffff2e, #ffffff00) border-box;
  border: 2px solid transparent;
}
.usersappsgroup .commanprofile{
	height: 47px;
	width: 47px;
	border-radius: 100%;
	object-fit: cover;
	object-position: top;
	border: 3px solid #fff;
}
.left_appsawaydivs .apcentersdfvf span {
  height: 12px;
  width: 2px;
  display: inline-block;
  background: #ffffffb8;
  margin: 0px 16px;
}
.usersappsgroup .commanprofile.users2{
	margin-left: -28px;
}
.usersappsgroup .commanprofile.users3{
	margin-left: -28px;
}
.usersappsgroup .commanprofile.users4{
	margin-left: -28px;
}
.usersappsgroup .commanprofile.users5{
	margin-left: -28px;
}
.right_Appsmockups .screendesign{
  width: 100%;
}

/* about section start  */
.linehight-about{
  line-height: 25px;
}
.leftcheooses-maind .choosenlogo{
  width: 234px;
}
.whychoosemaindivs{
  background: url(../images/shape-design.png) no-repeat 90% 3%;
}

/* footer section start  */
.footerlist li{
  line-height: 36px;
}
.comman_inputfield_main .send-now-btn{
  width: 128px;
  height: 52px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: var(--bs-blue);
  color: var(--white-color);
  position: absolute;
  right: 0;
  top: 0;
}
.comman_inputfield_main .email-iconset{
  position: absolute;
  left: 16px;
  top: 3px;
  bottom: 0;
  margin: auto;
}
.email-phons .sntr{
  display: inline-block;
  height: 13px;
  width: 2px;
  background: var(--gray4-color);
  margin: 0px 12px;
}
.footerlist li a.p2{
  transition: all 0.4s;
}
.footerlist li a.p2:hover{
  color: #ffffff9e;
  margin-left: 2px;
}
.top_footersborder{
  border-top: 1px solid var(--gray2-color);
  padding-top: 36px;
  margin-top: 34px;
}
a.socialIconHome{
  height: 38px;
  width: 38px;
  background: var(--white-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.socialIconHome i{
  font-size: 20px;
  color: var(--primary-color-1);
}
.innerltslogosff img{
  width: 234px;
}
.footer_bgsetsltr{
  border-radius: 15px;
  padding: 47px 55px 60px 60px;
  background: url(../images/shape-design.png) no-repeat 38% -4%, url(../images/shape-design.png) no-repeat 97% 77%, linear-gradient(#4a123b, #4A123B) padding-box, linear-gradient(to bottom, #ffffff2e, #ffffff00) border-box;
  border: 2px solid transparent;
}
/* end  */


@media only screen and (max-device-width: 992px){
  .mobile_navbgset {
    position: absolute;
    top: 72px;
    z-index: 99;
    border-radius: 25px;
    padding: 24px 30px 32px;
    box-shadow: 0px 1.933px 3.866px 0px rgba(33, 36, 41, 0.05);
    background: linear-gradient(#4a123b, #4A123B) padding-box, linear-gradient(to bottom, #ffffff2e, #ffffff00) border-box;
    border: 2px solid transparent;
  }
  .cstm-chnagebtn.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
    background: var(--primary-color-1);
    padding: 8px 13px;
    border-radius: 12px;
  }
  .cstm-chnagebtn .navbar-toggler-icon{
    filter: brightness(30);
  }
  .desk-navlist-main>li>a{
    margin-bottom: 4px;
    display: block;
    text-align: center;
  }
  .desk-navlist-main .dropdownstyle-lite {
    position: relative;
    left: 0;
    box-shadow: none;
    margin-top: 3px;
    padding: 8px 0px;
    top: 0;
    background: transparent;
    border: 1px solid #fff3;
    border-radius: 15px;
    text-align: center;
  }
}
@media only screen and (max-device-width: 568px){
  .whyappsiinnernai{
    padding: 32px 20px 34px 20px;
  }
  .why-iconbg {
    height: 72px;
    width: 72px;
    min-width: 72px;
  }
  .items_singles .cgap{
    margin: 15px auto;
  }
  .activtiprofile-box {
    padding: 5px 7px 5px 11px;
  }
  .find_btnprtys {
    padding: 12px 33px;
    font-size: 14px;
  }
  .LastProfileSlider {
    padding: 0px 20px 0;
  }
  .side-image-desk .sideimg{
    height: 263px;
  }
  .searchnow {
    width: 80%;
    margin: auto;
    transform: unset;
  }
  .last_addedmain-div {
    padding: 20px 0px 10px 0px;
  }
  .right_Appsmockups .screendesign{
    width: 80%;
  }
  .footer_bgsetsltr {
    padding: 32px 25px 20px 25px;
  }
}

@media only screen and (max-device-width: 768px){
  .fts-64 {
    font-size: 40px;
  }
  .fts-50 {
    font-size: 36px;
  }
  .fts-48{
    font-size: 34px;
  }
  .fts-32 {
    font-size: 22px;
  }
  .fts-38 {
    font-size: 26px;
  }
}


